{% extends 'base.html.twig' %}

{% block title %}Edit Article{% endblock %}

{% block body %}
    <h1>Edit Article</h1>

    {{ include('article/_form.html.twig', {'button_label': 'Update', title: "Edit Article"}) }}


    {{ include('article/_delete_form.html.twig') }}
{% endblock %}

{% block javascripts  %}
    <script>
        $(document).ready(function () {
            $('.choice_categories').select2();
            $("input[type='file']").change(function () {
                let file = $(this).get(0).files[0];

                if (file) {
                    let reader = new FileReader();
                    reader.onload = function () {
                        let img = `<img width="100" src='${reader.result}' alt="preview image" />`
                        $(".image-preview").html(img)
                    }
                    reader.readAsDataURL(file)
                }
            })
        });

        ClassicEditor
            .create( document.querySelector( '#article_content' ) )
            .then( editor => {
                console.log( editor );
            } )
            .catch( error => {
                console.error( error );
            } );
    </script>
{% endblock %}